input{
    border: 0;
    outline: none;
}

.newTask{
    display: flex;
    flex-direction: column;
    margin: 5px 10px;
    border: 1px solid #770055;
    padding: 5px;
    color:#444;
}

.task-element{
    display: flex;
    flex-direction: column;
    font-family: serif;
    margin: 5px;
}