body{
  background-color: #770055 !important;
}


.app-container{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

@media (max-width:1000px){
  .app-container{
    flex-wrap: wrap;
    flex-direction: column-reverse;
    justify-content: center;
  }
}